<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>"Wir bekommen amerikanische Verhältnisse".md</key>
			<dict>
				<key>lastModification</key>
				<real>503342666.94172901</real>
				<key>version</key>
				<dict>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Apple Said to Develop Car Operating System in BlackBerry Country.md</key>
			<dict>
				<key>lastModification</key>
				<real>503351499.92078102</real>
				<key>version</key>
				<dict>
					<key>375AC68D-8683-44F3-9CD0-7EC6F4B9DA5C</key>
					<integer>14</integer>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>16</integer>
				</dict>
			</dict>
			<key>Audi Pixelated Laser Headlights Light the Road and Paint It Too.md</key>
			<dict>
				<key>lastModification</key>
				<real>503342666.941737</real>
				<key>version</key>
				<dict>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Audi hat die produktivsten Mitarbeiter.md</key>
			<dict>
				<key>lastModification</key>
				<real>503342666.941733</real>
				<key>version</key>
				<dict>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Automakers Tackle the Massive Security Challenges of Connected Vehicles.md</key>
			<dict>
				<key>lastModification</key>
				<real>503342666.94173199</real>
				<key>version</key>
				<dict>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Automesse IAA Totalschaden auf der Datenautobahn.md</key>
			<dict>
				<key>lastModification</key>
				<real>503342666.94173598</real>
				<key>version</key>
				<dict>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Automobile Programming languages.md</key>
			<dict>
				<key>lastModification</key>
				<real>503342666.94173002</real>
				<key>version</key>
				<dict>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Automotive Research &amp; Development.md</key>
			<dict>
				<key>lastModification</key>
				<real>503342666.94174302</real>
				<key>version</key>
				<dict>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>AutomotiveConnect.md</key>
			<dict>
				<key>lastModification</key>
				<real>503342666.941742</real>
				<key>version</key>
				<dict>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Autos schlucken 42 Prozent mehr als angegeben.md</key>
			<dict>
				<key>lastModification</key>
				<real>503351207.01484102</real>
				<key>version</key>
				<dict>
					<key>375AC68D-8683-44F3-9CD0-7EC6F4B9DA5C</key>
					<integer>4</integer>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>16</integer>
				</dict>
			</dict>
			<key>BMW VIN-Decoder für alle BMW Fahrzeuge.md</key>
			<dict>
				<key>lastModification</key>
				<real>503342666.94173098</real>
				<key>version</key>
				<dict>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Bosch's New Automotive Touchscreens Feel Like Physical Buttons.md</key>
			<dict>
				<key>lastModification</key>
				<real>503342666.94174498</real>
				<key>version</key>
				<dict>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>C2C (car to car communication).md</key>
			<dict>
				<key>lastModification</key>
				<real>503342666.94173998</real>
				<key>version</key>
				<dict>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>CAN lower- and higher-layer protocols.md</key>
			<dict>
				<key>lastModification</key>
				<real>503342666.94174403</real>
				<key>version</key>
				<dict>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Car Brands Reliability: How They Stack Up.md</key>
			<dict>
				<key>lastModification</key>
				<real>503351520.26254803</real>
				<key>version</key>
				<dict>
					<key>375AC68D-8683-44F3-9CD0-7EC6F4B9DA5C</key>
					<integer>17</integer>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>16</integer>
				</dict>
			</dict>
			<key>Car IT - Kraft trifft auf Intelligenz.md</key>
			<dict>
				<key>lastModification</key>
				<real>503342666.94173801</real>
				<key>version</key>
				<dict>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Cars Online Studie im Überblick.md</key>
			<dict>
				<key>lastModification</key>
				<real>503342666.94174099</real>
				<key>version</key>
				<dict>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Connected Vehicle: Making the Vehicle a Node on the Network.md</key>
			<dict>
				<key>lastModification</key>
				<real>503342666.941742</real>
				<key>version</key>
				<dict>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Consumer Reports ranks Tesla as one of the least reliable car brands on the planet.md</key>
			<dict>
				<key>lastModification</key>
				<real>503351520.260719</real>
				<key>version</key>
				<dict>
					<key>375AC68D-8683-44F3-9CD0-7EC6F4B9DA5C</key>
					<integer>16</integer>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>16</integer>
				</dict>
			</dict>
			<key>Continental zeigt intelligente Straßenlaterne.md</key>
			<dict>
				<key>lastModification</key>
				<real>503358384.48726702</real>
				<key>version</key>
				<dict>
					<key>375AC68D-8683-44F3-9CD0-7EC6F4B9DA5C</key>
					<integer>23</integer>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>16</integer>
					<key>c6468a968d8509771dc8cf85b4ec60f16884ab5f959a719f7a646431cd7299e3</key>
					<integer>8</integer>
				</dict>
			</dict>
			<key>Das vernetzte Auto liegt im Trend.md</key>
			<dict>
				<key>lastModification</key>
				<real>503342666.94173902</real>
				<key>version</key>
				<dict>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Das vernetzte Auto: Der Begriff Car-IT gewinnt in der Automobilindustrie massiv an Bedeutung – die künftige Rolle der Business-IT.md</key>
			<dict>
				<key>lastModification</key>
				<real>503342666.94173902</real>
				<key>version</key>
				<dict>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Die Schlacht um BMW.md</key>
			<dict>
				<key>lastModification</key>
				<real>503342666.94173402</real>
				<key>version</key>
				<dict>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Driving our perception of the future_next100bmw.md</key>
			<dict>
				<key>lastModification</key>
				<real>503352276.01271498</real>
				<key>version</key>
				<dict>
					<key>375AC68D-8683-44F3-9CD0-7EC6F4B9DA5C</key>
					<integer>23</integer>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>16</integer>
				</dict>
			</dict>
			<key>Fehler beim Autofahren - Acht Sünden, die fast jeder Autofahrer begeht.md</key>
			<dict>
				<key>lastModification</key>
				<real>503349738.10171402</real>
				<key>version</key>
				<dict>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>10</integer>
				</dict>
			</dict>
			<key>Früherer BMW-Chefdesigner Chris Bangle Der Mann, der das Auto neu erfand.md</key>
			<dict>
				<key>lastModification</key>
				<real>503358233.17241001</real>
				<key>version</key>
				<dict>
					<key>375AC68D-8683-44F3-9CD0-7EC6F4B9DA5C</key>
					<integer>23</integer>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>16</integer>
					<key>c6468a968d8509771dc8cf85b4ec60f16884ab5f959a719f7a646431cd7299e3</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>How connected cars are turning into revenue-generating machines - 2.md</key>
			<dict>
				<key>lastModification</key>
				<real>503358344.37749797</real>
				<key>version</key>
				<dict>
					<key>375AC68D-8683-44F3-9CD0-7EC6F4B9DA5C</key>
					<integer>23</integer>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>16</integer>
					<key>c6468a968d8509771dc8cf85b4ec60f16884ab5f959a719f7a646431cd7299e3</key>
					<integer>6</integer>
				</dict>
			</dict>
			<key>How connected cars are turning into revenue-generating machines.md</key>
			<dict>
				<key>lastModification</key>
				<real>503349812.85338902</real>
				<key>version</key>
				<dict>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>16</integer>
				</dict>
			</dict>
			<key>How to Stay in Touch with Connected Cars.md</key>
			<dict>
				<key>lastModification</key>
				<real>503351485.70098698</real>
				<key>version</key>
				<dict>
					<key>375AC68D-8683-44F3-9CD0-7EC6F4B9DA5C</key>
					<integer>12</integer>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>16</integer>
				</dict>
			</dict>
			<key>Leichtbau im Auto Warum BMW am teuren Karbon festhält.md</key>
			<dict>
				<key>lastModification</key>
				<real>503342666.941746</real>
				<key>version</key>
				<dict>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Porsche greift Tesla an: Mit diesen High-Tech-Schmankerln ist die Mission-E-Studie ausgestattet.md</key>
			<dict>
				<key>lastModification</key>
				<real>503342666.94173503</real>
				<key>version</key>
				<dict>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Preventing accidents by the use of pupil-based Driving Monitoring System (DMS).md</key>
			<dict>
				<key>lastModification</key>
				<real>503342675.06050003</real>
				<key>version</key>
				<dict>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>Redefining the automotive industry through autonomous driving technology.md</key>
			<dict>
				<key>lastModification</key>
				<real>503342666.94172502</real>
				<key>version</key>
				<dict>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Reimagining In-Car UX Pt 1: Instrument Clusters.md</key>
			<dict>
				<key>lastModification</key>
				<real>503349798.65860802</real>
				<key>version</key>
				<dict>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>14</integer>
				</dict>
			</dict>
			<key>Reimagining In-car UX Pt. 2: Designing for Anxiety.md</key>
			<dict>
				<key>lastModification</key>
				<real>503349798.63899499</real>
				<key>version</key>
				<dict>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>13</integer>
				</dict>
			</dict>
			<key>Reimagining In-car UX Pt. 3: Proactive Assistive Panels.md</key>
			<dict>
				<key>lastModification</key>
				<real>503349798.63490897</real>
				<key>version</key>
				<dict>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>12</integer>
				</dict>
			</dict>
			<key>Revealed: How VW Designed the Greatest Scandal in Automotive History.md</key>
			<dict>
				<key>lastModification</key>
				<real>503351743.37755799</real>
				<key>version</key>
				<dict>
					<key>375AC68D-8683-44F3-9CD0-7EC6F4B9DA5C</key>
					<integer>19</integer>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>16</integer>
				</dict>
			</dict>
			<key>Schwere Vorwürfe gegen Autoindustrie: Spritverbrauch um 42 Prozent höher als angegeben.md</key>
			<dict>
				<key>lastModification</key>
				<real>503351198.76709002</real>
				<key>version</key>
				<dict>
					<key>375AC68D-8683-44F3-9CD0-7EC6F4B9DA5C</key>
					<integer>2</integer>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>16</integer>
				</dict>
			</dict>
			<key>So arbeitet das Volkswagen Data Lab in München.md</key>
			<dict>
				<key>lastModification</key>
				<real>503352260.37846297</real>
				<key>version</key>
				<dict>
					<key>375AC68D-8683-44F3-9CD0-7EC6F4B9DA5C</key>
					<integer>21</integer>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>16</integer>
				</dict>
			</dict>
			<key>THЕ BЕNЕFІTЅ OF ADVАNСЕD DRІVЕR AЅЅІЅTАNСЕ SУЅTЕMЅ (ADAS).md</key>
			<dict>
				<key>lastModification</key>
				<real>503342682.74298602</real>
				<key>version</key>
				<dict>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>6</integer>
				</dict>
			</dict>
			<key>The Car Industry Will Change Forever. But Nobody Is Prepared For It.md</key>
			<dict>
				<key>lastModification</key>
				<real>503342666.94173503</real>
				<key>version</key>
				<dict>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>The New Battleground: Car Operating Systems.md</key>
			<dict>
				<key>lastModification</key>
				<real>503358202.78812802</real>
				<key>version</key>
				<dict>
					<key>375AC68D-8683-44F3-9CD0-7EC6F4B9DA5C</key>
					<integer>23</integer>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>16</integer>
					<key>c6468a968d8509771dc8cf85b4ec60f16884ab5f959a719f7a646431cd7299e3</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>The Painstaking Process of Building a Porsche Panamera.md</key>
			<dict>
				<key>lastModification</key>
				<real>503351408.14284199</real>
				<key>version</key>
				<dict>
					<key>375AC68D-8683-44F3-9CD0-7EC6F4B9DA5C</key>
					<integer>6</integer>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>16</integer>
				</dict>
			</dict>
			<key>The insurance impact of self-driving cars and shared mobility.md</key>
			<dict>
				<key>lastModification</key>
				<real>503349720.588835</real>
				<key>version</key>
				<dict>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>8</integer>
				</dict>
			</dict>
			<key>The rise of new automotive companies.md</key>
			<dict>
				<key>lastModification</key>
				<real>503351467.72929198</real>
				<key>version</key>
				<dict>
					<key>375AC68D-8683-44F3-9CD0-7EC6F4B9DA5C</key>
					<integer>10</integer>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>16</integer>
				</dict>
			</dict>
			<key>[Analyse] Der Weg zum selbstfahrenden Auto ist (noch) lang.md</key>
			<dict>
				<key>lastModification</key>
				<real>503351442.90166903</real>
				<key>version</key>
				<dict>
					<key>375AC68D-8683-44F3-9CD0-7EC6F4B9DA5C</key>
					<integer>8</integer>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>16</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetOrder</key>
		<real>503342870.36328101</real>
		<key>userIconName</key>
		<real>503342870.34055197</real>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>Continental zeigt intelligente Straßenlaterne.md</string>
		</array>
		<array>
			<string>How connected cars are turning into revenue-generating machines - 2.md</string>
		</array>
		<array>
			<string>Früherer BMW-Chefdesigner Chris Bangle Der Mann, der das Auto neu erfand.md</string>
		</array>
		<array>
			<string>The New Battleground: Car Operating Systems.md</string>
		</array>
		<array>
			<string>Driving our perception of the future_next100bmw.md</string>
		</array>
		<array>
			<string>So arbeitet das Volkswagen Data Lab in München.md</string>
		</array>
		<array>
			<string>Revealed: How VW Designed the Greatest Scandal in Automotive History.md</string>
		</array>
		<array>
			<string>Car Brands Reliability: How They Stack Up.md</string>
		</array>
		<array>
			<string>Consumer Reports ranks Tesla as one of the least reliable car brands on the planet.md</string>
		</array>
		<array>
			<string>Apple Said to Develop Car Operating System in BlackBerry Country.md</string>
		</array>
		<array>
			<string>How to Stay in Touch with Connected Cars.md</string>
		</array>
		<array>
			<string>The rise of new automotive companies.md</string>
		</array>
		<array>
			<string>[Analyse] Der Weg zum selbstfahrenden Auto ist (noch) lang.md</string>
		</array>
		<array>
			<string>The Painstaking Process of Building a Porsche Panamera.md</string>
		</array>
		<array>
			<string>Autos schlucken 42 Prozent mehr als angegeben.md</string>
		</array>
		<array>
			<string>Schwere Vorwürfe gegen Autoindustrie: Spritverbrauch um 42 Prozent höher als angegeben.md</string>
		</array>
		<array>
			<string>How connected cars are turning into revenue-generating machines.md</string>
		</array>
		<array>
			<string>Reimagining In-Car UX Pt 1: Instrument Clusters.md</string>
		</array>
		<array>
			<string>Reimagining In-car UX Pt. 2: Designing for Anxiety.md</string>
		</array>
		<array>
			<string>Reimagining In-car UX Pt. 3: Proactive Assistive Panels.md</string>
		</array>
		<array>
			<string>Fehler beim Autofahren - Acht Sünden, die fast jeder Autofahrer begeht.md</string>
		</array>
		<array>
			<string>The insurance impact of self-driving cars and shared mobility.md</string>
		</array>
		<array>
			<string>THЕ BЕNЕFІTЅ OF ADVАNСЕD DRІVЕR AЅЅІЅTАNСЕ SУЅTЕMЅ (ADAS).md</string>
		</array>
		<array>
			<string>Preventing accidents by the use of pupil-based Driving Monitoring System (DMS).md</string>
		</array>
		<array>
			<string>Redefining the automotive industry through autonomous driving technology.md</string>
		</array>
		<array>
			<string>"Wir bekommen amerikanische Verhältnisse".md</string>
		</array>
		<array>
			<string>Automobile Programming languages.md</string>
		</array>
		<array>
			<string>BMW VIN-Decoder für alle BMW Fahrzeuge.md</string>
		</array>
		<array>
			<string>Automakers Tackle the Massive Security Challenges of Connected Vehicles.md</string>
		</array>
		<array>
			<string>Audi hat die produktivsten Mitarbeiter.md</string>
		</array>
		<array>
			<string>Die Schlacht um BMW.md</string>
		</array>
		<array>
			<string>The Car Industry Will Change Forever. But Nobody Is Prepared For It.md</string>
		</array>
		<array>
			<string>Porsche greift Tesla an: Mit diesen High-Tech-Schmankerln ist die Mission-E-Studie ausgestattet.md</string>
		</array>
		<array>
			<string>Automesse IAA Totalschaden auf der Datenautobahn.md</string>
		</array>
		<array>
			<string>Audi Pixelated Laser Headlights Light the Road and Paint It Too.md</string>
		</array>
		<array>
			<string>Car IT - Kraft trifft auf Intelligenz.md</string>
		</array>
		<array>
			<string>Das vernetzte Auto liegt im Trend.md</string>
		</array>
		<array>
			<string>Das vernetzte Auto: Der Begriff Car-IT gewinnt in der Automobilindustrie massiv an Bedeutung – die künftige Rolle der Business-IT.md</string>
		</array>
		<array>
			<string>C2C (car to car communication).md</string>
		</array>
		<array>
			<string>Cars Online Studie im Überblick.md</string>
		</array>
		<array>
			<string>AutomotiveConnect.md</string>
		</array>
		<array>
			<string>Connected Vehicle: Making the Vehicle a Node on the Network.md</string>
		</array>
		<array>
			<string>Automotive Research &amp; Development.md</string>
		</array>
		<array>
			<string>CAN lower- and higher-layer protocols.md</string>
		</array>
		<array>
			<string>Bosch's New Automotive Touchscreens Feel Like Physical Buttons.md</string>
		</array>
		<array>
			<string>Leichtbau im Auto Warum BMW am teuren Karbon festhält.md</string>
		</array>
	</array>
	<key>sheetOrder</key>
	<string>modificationDate</string>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>userIconName</key>
	<string>Folder</string>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>375AC68D-8683-44F3-9CD0-7EC6F4B9DA5C</key>
			<integer>23</integer>
			<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
			<integer>16</integer>
			<key>c6468a968d8509771dc8cf85b4ec60f16884ab5f959a719f7a646431cd7299e3</key>
			<integer>8</integer>
		</dict>
		<key>sheetOrder</key>
		<dict>
			<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
			<integer>1</integer>
		</dict>
		<key>userIconName</key>
		<dict>
			<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
