<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>6 Pillars of UI Design.md</key>
			<dict>
				<key>lastModification</key>
				<real>503352281.652192</real>
				<key>version</key>
				<dict>
					<key>375AC68D-8683-44F3-9CD0-7EC6F4B9DA5C</key>
					<integer>16</integer>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>16</integer>
				</dict>
			</dict>
			<key>A History of the GUI.md</key>
			<dict>
				<key>lastModification</key>
				<real>503343290.55554801</real>
				<key>version</key>
				<dict>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>Adaptive oder Responsive? Über die Vor- und Nachteile der beiden Design-Ansätze.md</key>
			<dict>
				<key>lastModification</key>
				<real>503343299.65124899</real>
				<key>version</key>
				<dict>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>6</integer>
				</dict>
			</dict>
			<key>Animation in Mobile UX Design.md</key>
			<dict>
				<key>lastModification</key>
				<real>503354650.981727</real>
				<key>version</key>
				<dict>
					<key>375AC68D-8683-44F3-9CD0-7EC6F4B9DA5C</key>
					<integer>18</integer>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>16</integer>
				</dict>
			</dict>
			<key>Deadly UI.md</key>
			<dict>
				<key>lastModification</key>
				<real>503351219.51867998</real>
				<key>version</key>
				<dict>
					<key>375AC68D-8683-44F3-9CD0-7EC6F4B9DA5C</key>
					<integer>4</integer>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>16</integer>
				</dict>
			</dict>
			<key>Defining UX.md</key>
			<dict>
				<key>lastModification</key>
				<real>503354931.68814701</real>
				<key>version</key>
				<dict>
					<key>375AC68D-8683-44F3-9CD0-7EC6F4B9DA5C</key>
					<integer>28</integer>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>16</integer>
				</dict>
			</dict>
			<key>Design as knowledge creation.md</key>
			<dict>
				<key>lastModification</key>
				<real>503358460.858675</real>
				<key>version</key>
				<dict>
					<key>375AC68D-8683-44F3-9CD0-7EC6F4B9DA5C</key>
					<integer>28</integer>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>16</integer>
					<key>c6468a968d8509771dc8cf85b4ec60f16884ab5f959a719f7a646431cd7299e3</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Design is How it Works.md</key>
			<dict>
				<key>lastModification</key>
				<real>503351525.75587201</real>
				<key>version</key>
				<dict>
					<key>375AC68D-8683-44F3-9CD0-7EC6F4B9DA5C</key>
					<integer>6</integer>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>16</integer>
				</dict>
			</dict>
			<key>Designing Interface Animation.md</key>
			<dict>
				<key>lastModification</key>
				<real>503351001.70067298</real>
				<key>version</key>
				<dict>
					<key>375AC68D-8683-44F3-9CD0-7EC6F4B9DA5C</key>
					<integer>2</integer>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>16</integer>
				</dict>
			</dict>
			<key>Good Designers vs Great Designers.md</key>
			<dict>
				<key>lastModification</key>
				<real>503354917.050506</real>
				<key>version</key>
				<dict>
					<key>375AC68D-8683-44F3-9CD0-7EC6F4B9DA5C</key>
					<integer>26</integer>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>16</integer>
				</dict>
			</dict>
			<key>How Product Design Decisions are Made.md</key>
			<dict>
				<key>lastModification</key>
				<real>503349214.693515</real>
				<key>version</key>
				<dict>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>14</integer>
				</dict>
			</dict>
			<key>How to Design a CUI.md</key>
			<dict>
				<key>lastModification</key>
				<real>503352145.53714401</real>
				<key>version</key>
				<dict>
					<key>375AC68D-8683-44F3-9CD0-7EC6F4B9DA5C</key>
					<integer>10</integer>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>16</integer>
				</dict>
			</dict>
			<key>Intuitive Design vs. Shareable Design.md</key>
			<dict>
				<key>lastModification</key>
				<real>503349081.85972399</real>
				<key>version</key>
				<dict>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>10</integer>
				</dict>
			</dict>
			<key>Mobile App UX Design: What strategies work and why.md</key>
			<dict>
				<key>lastModification</key>
				<real>503354702.25831598</real>
				<key>version</key>
				<dict>
					<key>375AC68D-8683-44F3-9CD0-7EC6F4B9DA5C</key>
					<integer>20</integer>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>16</integer>
				</dict>
			</dict>
			<key>Mobile UX: User Expectations Have Shifted.md</key>
			<dict>
				<key>lastModification</key>
				<real>503354912.695328</real>
				<key>version</key>
				<dict>
					<key>375AC68D-8683-44F3-9CD0-7EC6F4B9DA5C</key>
					<integer>24</integer>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>16</integer>
				</dict>
			</dict>
			<key>No UI Is The New UI.md</key>
			<dict>
				<key>lastModification</key>
				<real>503343313.69208699</real>
				<key>version</key>
				<dict>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>8</integer>
				</dict>
			</dict>
			<key>The Design Secret Apple Stole from Volkswagen.md</key>
			<dict>
				<key>lastModification</key>
				<real>503352151.80587</real>
				<key>version</key>
				<dict>
					<key>375AC68D-8683-44F3-9CD0-7EC6F4B9DA5C</key>
					<integer>12</integer>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>16</integer>
				</dict>
			</dict>
			<key>The Evolution of Design.md</key>
			<dict>
				<key>lastModification</key>
				<real>503351955.51138002</real>
				<key>version</key>
				<dict>
					<key>375AC68D-8683-44F3-9CD0-7EC6F4B9DA5C</key>
					<integer>8</integer>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>16</integer>
				</dict>
			</dict>
			<key>The Future of Design is Emotional.md</key>
			<dict>
				<key>lastModification</key>
				<real>503352156.33361501</real>
				<key>version</key>
				<dict>
					<key>375AC68D-8683-44F3-9CD0-7EC6F4B9DA5C</key>
					<integer>14</integer>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>16</integer>
				</dict>
			</dict>
			<key>The State of UX in 2017.md</key>
			<dict>
				<key>lastModification</key>
				<real>503343278.52487999</real>
				<key>version</key>
				<dict>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>The ethics of good design: A principle for the connected age (1).md</key>
			<dict>
				<key>lastModification</key>
				<real>503351001.70068401</real>
				<key>version</key>
				<dict>
					<key>375AC68D-8683-44F3-9CD0-7EC6F4B9DA5C</key>
					<integer>2</integer>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>16</integer>
				</dict>
			</dict>
			<key>The ethics of good design: A principle for the connected age.md</key>
			<dict>
				<key>lastModification</key>
				<real>503349316.64492601</real>
				<key>version</key>
				<dict>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>16</integer>
				</dict>
			</dict>
			<key>Useful methods, guides and tools for doing human-centred design (1).md</key>
			<dict>
				<key>lastModification</key>
				<real>503349214.693524</real>
				<key>version</key>
				<dict>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>14</integer>
				</dict>
			</dict>
			<key>Useful methods, guides and tools for doing human-centred design.md</key>
			<dict>
				<key>lastModification</key>
				<real>503349101.69773698</real>
				<key>version</key>
				<dict>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>12</integer>
				</dict>
			</dict>
			<key>User Research Doesn’t = Instant Designs, It Identifies Problems Your Designs Can Solve.md</key>
			<dict>
				<key>lastModification</key>
				<real>503354900.55446899</real>
				<key>version</key>
				<dict>
					<key>375AC68D-8683-44F3-9CD0-7EC6F4B9DA5C</key>
					<integer>22</integer>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>16</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetOrder</key>
		<real>503342825.27405602</real>
		<key>userIconName</key>
		<real>503342821.33124501</real>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>Design as knowledge creation.md</string>
		</array>
		<array>
			<string>Defining UX.md</string>
		</array>
		<array>
			<string>Good Designers vs Great Designers.md</string>
		</array>
		<array>
			<string>Mobile UX: User Expectations Have Shifted.md</string>
		</array>
		<array>
			<string>User Research Doesn’t = Instant Designs, It Identifies Problems Your Designs Can Solve.md</string>
		</array>
		<array>
			<string>Mobile App UX Design: What strategies work and why.md</string>
		</array>
		<array>
			<string>Animation in Mobile UX Design.md</string>
		</array>
		<array>
			<string>6 Pillars of UI Design.md</string>
		</array>
		<array>
			<string>The Future of Design is Emotional.md</string>
		</array>
		<array>
			<string>The Design Secret Apple Stole from Volkswagen.md</string>
		</array>
		<array>
			<string>How to Design a CUI.md</string>
		</array>
		<array>
			<string>The Evolution of Design.md</string>
		</array>
		<array>
			<string>Design is How it Works.md</string>
		</array>
		<array>
			<string>Deadly UI.md</string>
		</array>
		<array>
			<string>Designing Interface Animation.md</string>
		</array>
		<array>
			<string>The ethics of good design: A principle for the connected age.md</string>
		</array>
		<array>
			<string>How Product Design Decisions are Made.md</string>
		</array>
		<array>
			<string>Useful methods, guides and tools for doing human-centred design.md</string>
		</array>
		<array>
			<string>Intuitive Design vs. Shareable Design.md</string>
		</array>
		<array>
			<string>No UI Is The New UI.md</string>
		</array>
		<array>
			<string>Adaptive oder Responsive? Über die Vor- und Nachteile der beiden Design-Ansätze.md</string>
		</array>
		<array>
			<string>A History of the GUI.md</string>
		</array>
		<array>
			<string>The State of UX in 2017.md</string>
		</array>
		<array>
			<string>Useful methods, guides and tools for doing human-centred design (1).md</string>
		</array>
		<array>
			<string>The ethics of good design: A principle for the connected age (1).md</string>
		</array>
	</array>
	<key>sheetOrder</key>
	<string>modificationDate</string>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>userIconName</key>
	<string>Folder</string>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>375AC68D-8683-44F3-9CD0-7EC6F4B9DA5C</key>
			<integer>28</integer>
			<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
			<integer>16</integer>
			<key>c6468a968d8509771dc8cf85b4ec60f16884ab5f959a719f7a646431cd7299e3</key>
			<integer>2</integer>
		</dict>
		<key>sheetOrder</key>
		<dict>
			<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
			<integer>1</integer>
		</dict>
		<key>userIconName</key>
		<dict>
			<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
