<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>25 Years to Mac – How Ubuntu Pushed Me Away from the PC.md</key>
			<dict>
				<key>lastModification</key>
				<real>503358246.527789</real>
				<key>version</key>
				<dict>
					<key>c6468a968d8509771dc8cf85b4ec60f16884ab5f959a719f7a646431cd7299e3</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>3 Small Businesses Embrace a Paperless Future.md</key>
			<dict>
				<key>lastModification</key>
				<real>503358246.52780002</real>
				<key>version</key>
				<dict>
					<key>c6468a968d8509771dc8cf85b4ec60f16884ab5f959a719f7a646431cd7299e3</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>3PL-Studie prognostiziert Veränderungen in der Lieferkette.md</key>
			<dict>
				<key>lastModification</key>
				<real>503358246.52779502</real>
				<key>version</key>
				<dict>
					<key>c6468a968d8509771dc8cf85b4ec60f16884ab5f959a719f7a646431cd7299e3</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>43.000 IT-Spezialisten fehlen.md</key>
			<dict>
				<key>lastModification</key>
				<real>503358246.527794</real>
				<key>version</key>
				<dict>
					<key>c6468a968d8509771dc8cf85b4ec60f16884ab5f959a719f7a646431cd7299e3</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>52 people every iOS developer should follow on Twitter.md</key>
			<dict>
				<key>lastModification</key>
				<real>503358246.52779001</real>
				<key>version</key>
				<dict>
					<key>c6468a968d8509771dc8cf85b4ec60f16884ab5f959a719f7a646431cd7299e3</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>&gt; What Happens Next Will Amaze You.md</key>
			<dict>
				<key>lastModification</key>
				<real>503358246.52779299</real>
				<key>version</key>
				<dict>
					<key>c6468a968d8509771dc8cf85b4ec60f16884ab5f959a719f7a646431cd7299e3</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Digital Innovation Demands Hybrid Integration.md</key>
			<dict>
				<key>lastModification</key>
				<real>503358246.527798</real>
				<key>version</key>
				<dict>
					<key>c6468a968d8509771dc8cf85b4ec60f16884ab5f959a719f7a646431cd7299e3</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Eleven Reasons To Be Excited About The Future of Technology.md</key>
			<dict>
				<key>lastModification</key>
				<real>503358246.52780801</real>
				<key>version</key>
				<dict>
					<key>c6468a968d8509771dc8cf85b4ec60f16884ab5f959a719f7a646431cd7299e3</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Handwriting Recognition.md</key>
			<dict>
				<key>lastModification</key>
				<real>503358246.52780598</real>
				<key>version</key>
				<dict>
					<key>c6468a968d8509771dc8cf85b4ec60f16884ab5f959a719f7a646431cd7299e3</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>How Things Work.md</key>
			<dict>
				<key>lastModification</key>
				<real>503358246.527807</real>
				<key>version</key>
				<dict>
					<key>c6468a968d8509771dc8cf85b4ec60f16884ab5f959a719f7a646431cd7299e3</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>INDUSTRIE 4.0.md</key>
			<dict>
				<key>lastModification</key>
				<real>503358246.52779698</real>
				<key>version</key>
				<dict>
					<key>c6468a968d8509771dc8cf85b4ec60f16884ab5f959a719f7a646431cd7299e3</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Industrie 4.0 muss den Stempel „Made in Germany“ tragen!.md</key>
			<dict>
				<key>lastModification</key>
				<real>503358246.52779597</real>
				<key>version</key>
				<dict>
					<key>c6468a968d8509771dc8cf85b4ec60f16884ab5f959a719f7a646431cd7299e3</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Quantum teleportation over 7 kilometres of cables smashes record.md</key>
			<dict>
				<key>lastModification</key>
				<real>503358254.07749498</real>
				<key>version</key>
				<dict>
					<key>c6468a968d8509771dc8cf85b4ec60f16884ab5f959a719f7a646431cd7299e3</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>Quantum teleportation with independent sources and prior entanglement distribution over a network.md</key>
			<dict>
				<key>lastModification</key>
				<real>503358246.527785</real>
				<key>version</key>
				<dict>
					<key>c6468a968d8509771dc8cf85b4ec60f16884ab5f959a719f7a646431cd7299e3</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>TUM tops latest university rankings.md</key>
			<dict>
				<key>lastModification</key>
				<real>503358246.52779102</real>
				<key>version</key>
				<dict>
					<key>c6468a968d8509771dc8cf85b4ec60f16884ab5f959a719f7a646431cd7299e3</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>The Death of Flash May Not Be Entirely Good for the Web.md</key>
			<dict>
				<key>lastModification</key>
				<real>503358246.52780098</real>
				<key>version</key>
				<dict>
					<key>c6468a968d8509771dc8cf85b4ec60f16884ab5f959a719f7a646431cd7299e3</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>The Future of Computer Vision and Automated Driving by Prof. Amnon Shashua.md</key>
			<dict>
				<key>lastModification</key>
				<real>503358246.52780497</real>
				<key>version</key>
				<dict>
					<key>c6468a968d8509771dc8cf85b4ec60f16884ab5f959a719f7a646431cd7299e3</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>The Physics of How Your Earphone Jack Works (Just in Time to Say Goodbye).md</key>
			<dict>
				<key>lastModification</key>
				<real>503358246.52780801</real>
				<key>version</key>
				<dict>
					<key>c6468a968d8509771dc8cf85b4ec60f16884ab5f959a719f7a646431cd7299e3</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Tunesische Initiative ausgezeichnet.md</key>
			<dict>
				<key>lastModification</key>
				<real>503358246.52779901</real>
				<key>version</key>
				<dict>
					<key>c6468a968d8509771dc8cf85b4ec60f16884ab5f959a719f7a646431cd7299e3</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>What is industry 4.0?.md</key>
			<dict>
				<key>lastModification</key>
				<real>503358246.52780402</real>
				<key>version</key>
				<dict>
					<key>c6468a968d8509771dc8cf85b4ec60f16884ab5f959a719f7a646431cd7299e3</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>eSIM: Die klassische SIM-Karte hat bald ausgedient.md</key>
			<dict>
				<key>lastModification</key>
				<real>503358246.527803</real>
				<key>version</key>
				<dict>
					<key>c6468a968d8509771dc8cf85b4ec60f16884ab5f959a719f7a646431cd7299e3</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>‘Tree of Life’ for 2.3 Million Species Released.md</key>
			<dict>
				<key>lastModification</key>
				<real>503358246.52779198</real>
				<key>version</key>
				<dict>
					<key>c6468a968d8509771dc8cf85b4ec60f16884ab5f959a719f7a646431cd7299e3</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>“Water-in-salt” electrolytes can make lithium-ion batteries safer.md</key>
			<dict>
				<key>lastModification</key>
				<real>503358246.52780199</real>
				<key>version</key>
				<dict>
					<key>c6468a968d8509771dc8cf85b4ec60f16884ab5f959a719f7a646431cd7299e3</key>
					<integer>2</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetOrder</key>
		<real>498763840.59351802</real>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>Quantum teleportation over 7 kilometres of cables smashes record.md</string>
		</array>
		<array>
			<string>Quantum teleportation with independent sources and prior entanglement distribution over a network.md</string>
		</array>
		<array>
			<string>25 Years to Mac – How Ubuntu Pushed Me Away from the PC.md</string>
		</array>
		<array>
			<string>52 people every iOS developer should follow on Twitter.md</string>
		</array>
		<array>
			<string>TUM tops latest university rankings.md</string>
		</array>
		<array>
			<string>‘Tree of Life’ for 2.3 Million Species Released.md</string>
		</array>
		<array>
			<string>&gt; What Happens Next Will Amaze You.md</string>
		</array>
		<array>
			<string>43.000 IT-Spezialisten fehlen.md</string>
		</array>
		<array>
			<string>3PL-Studie prognostiziert Veränderungen in der Lieferkette.md</string>
		</array>
		<array>
			<string>Industrie 4.0 muss den Stempel „Made in Germany“ tragen!.md</string>
		</array>
		<array>
			<string>INDUSTRIE 4.0.md</string>
		</array>
		<array>
			<string>Digital Innovation Demands Hybrid Integration.md</string>
		</array>
		<array>
			<string>Tunesische Initiative ausgezeichnet.md</string>
		</array>
		<array>
			<string>3 Small Businesses Embrace a Paperless Future.md</string>
		</array>
		<array>
			<string>The Death of Flash May Not Be Entirely Good for the Web.md</string>
		</array>
		<array>
			<string>“Water-in-salt” electrolytes can make lithium-ion batteries safer.md</string>
		</array>
		<array>
			<string>eSIM: Die klassische SIM-Karte hat bald ausgedient.md</string>
		</array>
		<array>
			<string>What is industry 4.0?.md</string>
		</array>
		<array>
			<string>The Future of Computer Vision and Automated Driving by Prof. Amnon Shashua.md</string>
		</array>
		<array>
			<string>Handwriting Recognition.md</string>
		</array>
		<array>
			<string>How Things Work.md</string>
		</array>
		<array>
			<string>Eleven Reasons To Be Excited About The Future of Technology.md</string>
		</array>
		<array>
			<string>The Physics of How Your Earphone Jack Works (Just in Time to Say Goodbye).md</string>
		</array>
	</array>
	<key>sheetOrder</key>
	<string>modificationDate</string>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>c6468a968d8509771dc8cf85b4ec60f16884ab5f959a719f7a646431cd7299e3</key>
			<integer>4</integer>
		</dict>
		<key>sheetOrder</key>
		<dict>
			<key>E99D6F9A-04C2-418B-89A4-783B9ADBBEB5</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
