<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>11 Ideas to Spice up Your Retrospective.md</key>
			<dict>
				<key>lastModification</key>
				<real>503351348.77928197</real>
				<key>version</key>
				<dict>
					<key>375AC68D-8683-44F3-9CD0-7EC6F4B9DA5C</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>3 Things You Need to Increase Productivity.md</key>
			<dict>
				<key>lastModification</key>
				<real>503351652.45217401</real>
				<key>version</key>
				<dict>
					<key>375AC68D-8683-44F3-9CD0-7EC6F4B9DA5C</key>
					<integer>9</integer>
				</dict>
			</dict>
			<key>7 Management Tips For Better Productivity.md</key>
			<dict>
				<key>lastModification</key>
				<real>503351585.99893302</real>
				<key>version</key>
				<dict>
					<key>375AC68D-8683-44F3-9CD0-7EC6F4B9DA5C</key>
					<integer>7</integer>
				</dict>
			</dict>
			<key>Creativity Is the New Productivity.md</key>
			<dict>
				<key>lastModification</key>
				<real>503351489.74614203</real>
				<key>version</key>
				<dict>
					<key>375AC68D-8683-44F3-9CD0-7EC6F4B9DA5C</key>
					<integer>5</integer>
				</dict>
			</dict>
			<key>Elevate yourself with side projects.md</key>
			<dict>
				<key>lastModification</key>
				<real>503351962.42877102</real>
				<key>version</key>
				<dict>
					<key>375AC68D-8683-44F3-9CD0-7EC6F4B9DA5C</key>
					<integer>17</integer>
				</dict>
			</dict>
			<key>How Writing 10 Ideas a Day Improved My Life.md</key>
			<dict>
				<key>lastModification</key>
				<real>503354708.50114</real>
				<key>version</key>
				<dict>
					<key>375AC68D-8683-44F3-9CD0-7EC6F4B9DA5C</key>
					<integer>23</integer>
				</dict>
			</dict>
			<key>Inspiring innovation.md</key>
			<dict>
				<key>lastModification</key>
				<real>503354921.84822398</real>
				<key>version</key>
				<dict>
					<key>375AC68D-8683-44F3-9CD0-7EC6F4B9DA5C</key>
					<integer>27</integer>
				</dict>
			</dict>
			<key>Kreativ auf Knopfdruck: So klappt’s.md</key>
			<dict>
				<key>lastModification</key>
				<real>503351846.26296902</real>
				<key>version</key>
				<dict>
					<key>375AC68D-8683-44F3-9CD0-7EC6F4B9DA5C</key>
					<integer>15</integer>
				</dict>
			</dict>
			<key>Seek Simplicity, But Distrust It.md</key>
			<dict>
				<key>lastModification</key>
				<real>503351667.60218298</real>
				<key>version</key>
				<dict>
					<key>375AC68D-8683-44F3-9CD0-7EC6F4B9DA5C</key>
					<integer>11</integer>
				</dict>
			</dict>
			<key>Simplicity is complicated.md</key>
			<dict>
				<key>lastModification</key>
				<real>503352220.67188799</real>
				<key>version</key>
				<dict>
					<key>375AC68D-8683-44F3-9CD0-7EC6F4B9DA5C</key>
					<integer>19</integer>
				</dict>
			</dict>
			<key>The Art of Curiosity.md</key>
			<dict>
				<key>lastModification</key>
				<real>503352305.70239502</real>
				<key>version</key>
				<dict>
					<key>375AC68D-8683-44F3-9CD0-7EC6F4B9DA5C</key>
					<integer>21</integer>
				</dict>
			</dict>
			<key>The Methods for SuperHuman Productivity.md</key>
			<dict>
				<key>lastModification</key>
				<real>503358439.69447601</real>
				<key>version</key>
				<dict>
					<key>375AC68D-8683-44F3-9CD0-7EC6F4B9DA5C</key>
					<integer>27</integer>
					<key>c6468a968d8509771dc8cf85b4ec60f16884ab5f959a719f7a646431cd7299e3</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>The Productivity Problem.md</key>
			<dict>
				<key>lastModification</key>
				<real>503351348.78093499</real>
				<key>version</key>
				<dict>
					<key>375AC68D-8683-44F3-9CD0-7EC6F4B9DA5C</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>This Is How To Be Productive Without Being Miserable: 8 Proven Secrets.md</key>
			<dict>
				<key>lastModification</key>
				<real>503351693.71214497</real>
				<key>version</key>
				<dict>
					<key>375AC68D-8683-44F3-9CD0-7EC6F4B9DA5C</key>
					<integer>13</integer>
				</dict>
			</dict>
			<key>What is success?.md</key>
			<dict>
				<key>lastModification</key>
				<real>503354891.94358099</real>
				<key>version</key>
				<dict>
					<key>375AC68D-8683-44F3-9CD0-7EC6F4B9DA5C</key>
					<integer>25</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetOrder</key>
		<real>503351304.73205799</real>
		<key>userIconName</key>
		<real>503351300.74695599</real>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>The Methods for SuperHuman Productivity.md</string>
		</array>
		<array>
			<string>Inspiring innovation.md</string>
		</array>
		<array>
			<string>What is success?.md</string>
		</array>
		<array>
			<string>How Writing 10 Ideas a Day Improved My Life.md</string>
		</array>
		<array>
			<string>The Art of Curiosity.md</string>
		</array>
		<array>
			<string>Simplicity is complicated.md</string>
		</array>
		<array>
			<string>Elevate yourself with side projects.md</string>
		</array>
		<array>
			<string>Kreativ auf Knopfdruck: So klappt’s.md</string>
		</array>
		<array>
			<string>This Is How To Be Productive Without Being Miserable: 8 Proven Secrets.md</string>
		</array>
		<array>
			<string>Seek Simplicity, But Distrust It.md</string>
		</array>
		<array>
			<string>3 Things You Need to Increase Productivity.md</string>
		</array>
		<array>
			<string>7 Management Tips For Better Productivity.md</string>
		</array>
		<array>
			<string>Creativity Is the New Productivity.md</string>
		</array>
		<array>
			<string>The Productivity Problem.md</string>
		</array>
		<array>
			<string>11 Ideas to Spice up Your Retrospective.md</string>
		</array>
	</array>
	<key>sheetOrder</key>
	<string>modificationDate</string>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>userIconName</key>
	<string>Folder</string>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>375AC68D-8683-44F3-9CD0-7EC6F4B9DA5C</key>
			<integer>27</integer>
			<key>c6468a968d8509771dc8cf85b4ec60f16884ab5f959a719f7a646431cd7299e3</key>
			<integer>2</integer>
		</dict>
		<key>sheetOrder</key>
		<dict>
			<key>375AC68D-8683-44F3-9CD0-7EC6F4B9DA5C</key>
			<integer>1</integer>
		</dict>
		<key>userIconName</key>
		<dict>
			<key>375AC68D-8683-44F3-9CD0-7EC6F4B9DA5C</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
