<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array/>
	<key>resolutionData</key>
	<dict>
		<key>childOrder</key>
		<dict/>
		<key>sheetClusters</key>
		<dict>
			<key>(Push - Pop) modal SFSafariViewController (Hacking swipe from edge gesture).md</key>
			<dict>
				<key>lastModification</key>
				<real>503342724.14989901</real>
				<key>version</key>
				<dict>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>10 Useful jQuery iPad Code Snippets and Plugins.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>503402959.16865999</real>
				<key>lastModification</key>
				<real>503402959.16865999</real>
				<key>version</key>
				<dict>
					<key>375AC68D-8683-44F3-9CD0-7EC6F4B9DA5C</key>
					<integer>14</integer>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>12</integer>
					<key>c6468a968d8509771dc8cf85b4ec60f16884ab5f959a719f7a646431cd7299e3</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>2015 WordPress Mega Cheat Sheet.md</key>
			<dict>
				<key>lastModification</key>
				<real>503342724.14991301</real>
				<key>version</key>
				<dict>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>3D Force Touch: beyond peek &amp; pop.md</key>
			<dict>
				<key>lastModification</key>
				<real>503342724.14990401</real>
				<key>version</key>
				<dict>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>40 Tips You Must Know About Secure iOS App Development.md</key>
			<dict>
				<key>lastModification</key>
				<real>503342724.14991099</real>
				<key>version</key>
				<dict>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>5-Minutes Guide for Commonly Used Linux Commands.md</key>
			<dict>
				<key>lastModification</key>
				<real>503342724.14991701</real>
				<key>version</key>
				<dict>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>6 iterations of an iOS math game. Making game is so hard!.md</key>
			<dict>
				<key>lastModification</key>
				<real>503342724.14990902</real>
				<key>version</key>
				<dict>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>A Little About Patterns.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>503402959.16633803</real>
				<key>lastModification</key>
				<real>503402959.16633803</real>
				<key>version</key>
				<dict>
					<key>375AC68D-8683-44F3-9CD0-7EC6F4B9DA5C</key>
					<integer>14</integer>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>12</integer>
					<key>c6468a968d8509771dc8cf85b4ec60f16884ab5f959a719f7a646431cd7299e3</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Add an IP Address and OS Version Display to the OS X Login Page.md</key>
			<dict>
				<key>lastModification</key>
				<real>503342724.14991999</real>
				<key>version</key>
				<dict>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Apprentice Blog of the Week: Did Java Break My byte?.md</key>
			<dict>
				<key>lastModification</key>
				<real>503342724.14990097</real>
				<key>version</key>
				<dict>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Apprentice Blog of the Week: SSH Over the Internet!.md</key>
			<dict>
				<key>lastModification</key>
				<real>503342724.14990199</real>
				<key>version</key>
				<dict>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Apprentice Blog of the Week: Useful Clojure Macros For The Object Oriented Programmer.md</key>
			<dict>
				<key>lastModification</key>
				<real>503342724.149903</real>
				<key>version</key>
				<dict>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Asynchronicity and the Main Thread: Part 1.md</key>
			<dict>
				<key>lastModification</key>
				<real>503342724.14991599</real>
				<key>version</key>
				<dict>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Asynchrony and the Main Thread: Part 2.md</key>
			<dict>
				<key>lastModification</key>
				<real>503342724.14991897</real>
				<key>version</key>
				<dict>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Best Practices For Animated Progress Indicators.md</key>
			<dict>
				<key>lastModification</key>
				<real>503342787.60880899</real>
				<key>version</key>
				<dict>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>Breaking down iOS 9 Universal Links.md</key>
			<dict>
				<key>lastModification</key>
				<real>503342724.14989197</real>
				<key>version</key>
				<dict>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>CSS Reference.md</key>
			<dict>
				<key>lastModification</key>
				<real>503342724.14990598</real>
				<key>version</key>
				<dict>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Cheat Sheet: Writing Python 2-3 compatible code.md</key>
			<dict>
				<key>lastModification</key>
				<real>503342724.14992398</real>
				<key>version</key>
				<dict>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Cheat-Sheet für HTML5-Entwickler: Von wichtigen Tags bis zur Browser-Unterstützung.md</key>
			<dict>
				<key>lastModification</key>
				<real>503342724.14991403</real>
				<key>version</key>
				<dict>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Code Isn’t Just Functional, It’s Poetic.md</key>
			<dict>
				<key>lastModification</key>
				<real>503342724.14991498</real>
				<key>version</key>
				<dict>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Coding Academies Are Nonsense.md</key>
			<dict>
				<key>lastModification</key>
				<real>503342724.14990503</real>
				<key>version</key>
				<dict>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Coding In The Cloud Era Demands A Structural Rethink To Bake In Security And Privacy.md</key>
			<dict>
				<key>lastModification</key>
				<real>503342724.14989501</real>
				<key>version</key>
				<dict>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Coding: Alles, was du über das Programmieren wissen musst [Infografik].md</key>
			<dict>
				<key>lastModification</key>
				<real>503342724.14988899</real>
				<key>version</key>
				<dict>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Convert HTML to PDF.md</key>
			<dict>
				<key>lastModification</key>
				<real>503342724.14988202</real>
				<key>version</key>
				<dict>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Cut, Copy, Paste auch für Web-Projekte: Mit Clipboard.JS ganz ohne Flash die Zwischenablage nutzen.md</key>
			<dict>
				<key>lastModification</key>
				<real>503342724.14989603</real>
				<key>version</key>
				<dict>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Design Patterns in Python.md</key>
			<dict>
				<key>lastModification</key>
				<real>503342724.14992499</real>
				<key>version</key>
				<dict>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Finding Primes: Part II – A Python Implementation.md</key>
			<dict>
				<key>lastModification</key>
				<real>503349590.66384101</real>
				<key>version</key>
				<dict>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>9</integer>
				</dict>
			</dict>
			<key>How to convert a PDF to Excel with Python.md</key>
			<dict>
				<key>lastModification</key>
				<real>503349768.79929101</real>
				<key>version</key>
				<dict>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>12</integer>
				</dict>
			</dict>
			<key>How to install and configure MySQL on Ubuntu 16.04.md</key>
			<dict>
				<key>lastModification</key>
				<real>503349361.78661197</real>
				<key>version</key>
				<dict>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>6</integer>
				</dict>
			</dict>
			<key>Image Formats Mega Cheat Sheets – All you need to know about JPEGs, TIFFS, GIFs, PNGs &amp; BMPs.md</key>
			<dict>
				<key>lastModification</key>
				<real>503342724.149921</real>
				<key>version</key>
				<dict>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Is HTML a Humane Markup Language?.md</key>
			<dict>
				<key>lastModification</key>
				<real>503342724.14990997</real>
				<key>version</key>
				<dict>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>MallocNanoZone=1 Makes for Hard Debugging.md</key>
			<dict>
				<key>lastModification</key>
				<real>503342724.14989698</real>
				<key>version</key>
				<dict>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Merge Sort in Python.md</key>
			<dict>
				<key>lastModification</key>
				<real>503351775.05265701</real>
				<key>version</key>
				<dict>
					<key>375AC68D-8683-44F3-9CD0-7EC6F4B9DA5C</key>
					<integer>10</integer>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>12</integer>
				</dict>
			</dict>
			<key>Merge Sort in Python_koderdojo.md</key>
			<dict>
				<key>lastModification</key>
				<real>503351557.29793298</real>
				<key>version</key>
				<dict>
					<key>375AC68D-8683-44F3-9CD0-7EC6F4B9DA5C</key>
					<integer>6</integer>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>12</integer>
				</dict>
			</dict>
			<key>Most Frequently Used Python Code Fragments.md</key>
			<dict>
				<key>lastModification</key>
				<real>503342724.14992201</real>
				<key>version</key>
				<dict>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>OptionSetType &amp; Integers &amp; Generics.md</key>
			<dict>
				<key>lastModification</key>
				<real>503342724.14990699</real>
				<key>version</key>
				<dict>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Python Data Structures.md</key>
			<dict>
				<key>lastModification</key>
				<real>503342724.14992303</real>
				<key>version</key>
				<dict>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Python read data from MySQL database.md</key>
			<dict>
				<key>lastModification</key>
				<real>503342724.14991802</real>
				<key>version</key>
				<dict>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Python.md</key>
			<dict>
				<key>lastModification</key>
				<real>503342724.14989102</real>
				<key>version</key>
				<dict>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Python: Convert Image to String, Convert String to Image.md</key>
			<dict>
				<key>lastModification</key>
				<real>503342724.14991897</real>
				<key>version</key>
				<dict>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>PythonCheatSheet.md</key>
			<dict>
				<key>lastModification</key>
				<real>503342724.14992601</real>
				<key>version</key>
				<dict>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Ranges and Intervals in Swift.md</key>
			<dict>
				<key>lastModification</key>
				<real>503342724.14989299</real>
				<key>version</key>
				<dict>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Terminal 101: Converting Plain Text to PDF.md</key>
			<dict>
				<key>lastModification</key>
				<real>503342724.14988899</real>
				<key>version</key>
				<dict>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>The Future Of Coding Is Here, And It Threatens To Wipe Out Everything In Its Path.md</key>
			<dict>
				<key>lastModification</key>
				<real>503342724.149894</real>
				<key>version</key>
				<dict>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>The HTML 5 Mega Cheat Sheet.md</key>
			<dict>
				<key>lastModification</key>
				<real>503342724.149912</real>
				<key>version</key>
				<dict>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>The Mega CSS3 Cheat Sheet Infographic.md</key>
			<dict>
				<key>lastModification</key>
				<real>503342724.14991403</real>
				<key>version</key>
				<dict>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Understanding URL Encoding.md</key>
			<dict>
				<key>lastModification</key>
				<real>503342724.14989001</real>
				<key>version</key>
				<dict>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Understanding the FFT Algorithm - python.md</key>
			<dict>
				<key>lastModification</key>
				<real>503349590.694296</real>
				<key>version</key>
				<dict>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>10</integer>
				</dict>
			</dict>
			<key>Understanding the FFT Algorithm.md</key>
			<dict>
				<key>lastModification</key>
				<real>503351435.69186401</real>
				<key>version</key>
				<dict>
					<key>375AC68D-8683-44F3-9CD0-7EC6F4B9DA5C</key>
					<integer>4</integer>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>12</integer>
				</dict>
			</dict>
			<key>Useful Python Modules: Requests.md</key>
			<dict>
				<key>lastModification</key>
				<real>503351681.45675898</real>
				<key>version</key>
				<dict>
					<key>375AC68D-8683-44F3-9CD0-7EC6F4B9DA5C</key>
					<integer>8</integer>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>12</integer>
				</dict>
			</dict>
			<key>Using Python 3's pathlib module for common file operations.md</key>
			<dict>
				<key>lastModification</key>
				<real>503342724.14992303</real>
				<key>version</key>
				<dict>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>What is Functional Programming?.md</key>
			<dict>
				<key>lastModification</key>
				<real>503358218.68332601</real>
				<key>version</key>
				<dict>
					<key>375AC68D-8683-44F3-9CD0-7EC6F4B9DA5C</key>
					<integer>10</integer>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>12</integer>
					<key>c6468a968d8509771dc8cf85b4ec60f16884ab5f959a719f7a646431cd7299e3</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>What programming language should you learn first? ʇdıɹɔsɐʌɐɾ :ɹǝʍsuɐ.md</key>
			<dict>
				<key>lastModification</key>
				<real>503351278.17743301</real>
				<key>version</key>
				<dict>
					<key>375AC68D-8683-44F3-9CD0-7EC6F4B9DA5C</key>
					<integer>2</integer>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>12</integer>
				</dict>
			</dict>
			<key>Why is Object-Oriented Programming Useful? (With a Role Playing Game Example).md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>503402959.10473102</real>
				<key>lastModification</key>
				<real>503402959.10473102</real>
				<key>version</key>
				<dict>
					<key>375AC68D-8683-44F3-9CD0-7EC6F4B9DA5C</key>
					<integer>14</integer>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>12</integer>
					<key>c6468a968d8509771dc8cf85b4ec60f16884ab5f959a719f7a646431cd7299e3</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Write to a Google Spreadsheet from a Python script.md</key>
			<dict>
				<key>lastModification</key>
				<real>503349590.63946903</real>
				<key>version</key>
				<dict>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>8</integer>
				</dict>
			</dict>
			<key>malloc.md</key>
			<dict>
				<key>lastModification</key>
				<real>503342724.14989799</real>
				<key>version</key>
				<dict>
					<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
					<integer>2</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetOrder</key>
		<real>503357840.28550899</real>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>What is Functional Programming?.md</string>
		</array>
		<array>
			<string>Merge Sort in Python.md</string>
		</array>
		<array>
			<string>Useful Python Modules: Requests.md</string>
		</array>
		<array>
			<string>Merge Sort in Python_koderdojo.md</string>
		</array>
		<array>
			<string>Understanding the FFT Algorithm.md</string>
		</array>
		<array>
			<string>What programming language should you learn first? ʇdıɹɔsɐʌɐɾ :ɹǝʍsuɐ.md</string>
		</array>
		<array>
			<string>How to convert a PDF to Excel with Python.md</string>
		</array>
		<array>
			<string>Write to a Google Spreadsheet from a Python script.md</string>
		</array>
		<array>
			<string>Understanding the FFT Algorithm - python.md</string>
		</array>
		<array>
			<string>Finding Primes: Part II – A Python Implementation.md</string>
		</array>
		<array>
			<string>How to install and configure MySQL on Ubuntu 16.04.md</string>
		</array>
		<array>
			<string>Best Practices For Animated Progress Indicators.md</string>
		</array>
		<array>
			<string>Convert HTML to PDF.md</string>
		</array>
		<array>
			<string>10 Useful jQuery iPad Code Snippets and Plugins.md</string>
		</array>
		<array>
			<string>Terminal 101: Converting Plain Text to PDF.md</string>
		</array>
		<array>
			<string>Coding: Alles, was du über das Programmieren wissen musst [Infografik].md</string>
		</array>
		<array>
			<string>Understanding URL Encoding.md</string>
		</array>
		<array>
			<string>Python.md</string>
		</array>
		<array>
			<string>Breaking down iOS 9 Universal Links.md</string>
		</array>
		<array>
			<string>Ranges and Intervals in Swift.md</string>
		</array>
		<array>
			<string>The Future Of Coding Is Here, And It Threatens To Wipe Out Everything In Its Path.md</string>
		</array>
		<array>
			<string>Coding In The Cloud Era Demands A Structural Rethink To Bake In Security And Privacy.md</string>
		</array>
		<array>
			<string>Cut, Copy, Paste auch für Web-Projekte: Mit Clipboard.JS ganz ohne Flash die Zwischenablage nutzen.md</string>
		</array>
		<array>
			<string>MallocNanoZone=1 Makes for Hard Debugging.md</string>
		</array>
		<array>
			<string>malloc.md</string>
		</array>
		<array>
			<string>(Push - Pop) modal SFSafariViewController (Hacking swipe from edge gesture).md</string>
		</array>
		<array>
			<string>A Little About Patterns.md</string>
		</array>
		<array>
			<string>Apprentice Blog of the Week: Did Java Break My byte?.md</string>
		</array>
		<array>
			<string>Apprentice Blog of the Week: SSH Over the Internet!.md</string>
		</array>
		<array>
			<string>Apprentice Blog of the Week: Useful Clojure Macros For The Object Oriented Programmer.md</string>
		</array>
		<array>
			<string>3D Force Touch: beyond peek &amp; pop.md</string>
		</array>
		<array>
			<string>Coding Academies Are Nonsense.md</string>
		</array>
		<array>
			<string>CSS Reference.md</string>
		</array>
		<array>
			<string>OptionSetType &amp; Integers &amp; Generics.md</string>
		</array>
		<array>
			<string>Why is Object-Oriented Programming Useful? (With a Role Playing Game Example).md</string>
		</array>
		<array>
			<string>6 iterations of an iOS math game. Making game is so hard!.md</string>
		</array>
		<array>
			<string>Is HTML a Humane Markup Language?.md</string>
		</array>
		<array>
			<string>40 Tips You Must Know About Secure iOS App Development.md</string>
		</array>
		<array>
			<string>The HTML 5 Mega Cheat Sheet.md</string>
		</array>
		<array>
			<string>2015 WordPress Mega Cheat Sheet.md</string>
		</array>
		<array>
			<string>The Mega CSS3 Cheat Sheet Infographic.md</string>
		</array>
		<array>
			<string>Cheat-Sheet für HTML5-Entwickler: Von wichtigen Tags bis zur Browser-Unterstützung.md</string>
		</array>
		<array>
			<string>Code Isn’t Just Functional, It’s Poetic.md</string>
		</array>
		<array>
			<string>Asynchronicity and the Main Thread: Part 1.md</string>
		</array>
		<array>
			<string>5-Minutes Guide for Commonly Used Linux Commands.md</string>
		</array>
		<array>
			<string>Python read data from MySQL database.md</string>
		</array>
		<array>
			<string>Python: Convert Image to String, Convert String to Image.md</string>
		</array>
		<array>
			<string>Asynchrony and the Main Thread: Part 2.md</string>
		</array>
		<array>
			<string>Add an IP Address and OS Version Display to the OS X Login Page.md</string>
		</array>
		<array>
			<string>Image Formats Mega Cheat Sheets – All you need to know about JPEGs, TIFFS, GIFs, PNGs &amp; BMPs.md</string>
		</array>
		<array>
			<string>Most Frequently Used Python Code Fragments.md</string>
		</array>
		<array>
			<string>Python Data Structures.md</string>
		</array>
		<array>
			<string>Using Python 3's pathlib module for common file operations.md</string>
		</array>
		<array>
			<string>Cheat Sheet: Writing Python 2-3 compatible code.md</string>
		</array>
		<array>
			<string>Design Patterns in Python.md</string>
		</array>
		<array>
			<string>PythonCheatSheet.md</string>
		</array>
	</array>
	<key>sheetOrder</key>
	<string>modificationDate</string>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>375AC68D-8683-44F3-9CD0-7EC6F4B9DA5C</key>
			<integer>7</integer>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>375AC68D-8683-44F3-9CD0-7EC6F4B9DA5C</key>
			<integer>14</integer>
			<key>BC07AB0E-6C51-471E-9740-8BA2750C2A7A</key>
			<integer>12</integer>
			<key>c6468a968d8509771dc8cf85b4ec60f16884ab5f959a719f7a646431cd7299e3</key>
			<integer>3</integer>
		</dict>
		<key>sheetOrder</key>
		<dict>
			<key>c6468a968d8509771dc8cf85b4ec60f16884ab5f959a719f7a646431cd7299e3</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
